*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('unnamed.jpg');
    height: 100vh;
    text-align: center;
    background-repeat: no-repeat cover/ cover;
}  
.container{
margin:30px;
display:flex;
justify-content:center;
}
.header{
    position:fixed;
    display:flex;
    justify-content: center;
    margin-top:10px;
}
.title{
    border: 2px solid black;
    width:50vw;
    padding:5px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.main-content{
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
}
.author{
    padding: 20px;
    color: red;
}
.btn1{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}
